.portfolio-detail{
    padding: 3rem 0;
}
.slider-for img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border: 3px solid var(--yellow-color);
}
.slider-nav img{
    height: 15vh;
    width: 100%;
    object-fit: cover;
    border: 3px solid var(--yellow-color);
}
.slick-slider .slick-list{
    padding: 5px 0 !important;
}
.portfolio-slider-text h2{
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
}

.portfolio-slider-text h2::after {
    content: "";
    position: absolute;
    left: 9%;
    width: 100px;
    height: 4px;
    background: var(--yellow-color);
    bottom: 9px;
    margin-left: -30px;
}

.portfolio-slider-text p{
    padding-bottom: 20px;
    color: var(--font-color);
    font-size: 14px;
}
.portfolio-item-list li{
    color: var(--black-color);
    font-size: 14px;
    line-height: 35px;
}
.portfolio-item-list li span{
    padding-right: 10px;
}